
@import './Astracts/variable';
@import './Base/base';
@import './Base/typhography';
@import './Components/button';
@import './Components/slider';
@import './Layouts/heading';
@import './Components/menu';
@import './Components/animation';