.time { opacity: 0;
     position: absolute;
     top:40rem;
     left: 20rem;
     min-height: 20vh;
     @include mobile{
        left: 2rem;
     }
     @include smtablet{
        left: 3rem;
     }
     @include tablet{
        left: 4rem;
     }

    &-tittle{
        position: relative;
        display: inline;
        color: $color-secondary;
        text-align: center;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing:0.5rem ;
        font-size: 2rem;
        top:-2rem;
        left: 4rem;
    }
    &-clock{
        display: flex;
        justify-content: center;
        justify-items: center;
        &--box{
            position: relative;
            margin: 0 0.5rem;
            -webkit-box-reflect: below 0.1rem linear-gradient(transparent,#0004) ;
            
            &__time{
                position: relative;
                display: block;
                width: 10rem;
                height: 8rem ;
                background-color: $color-secondary-light;
                color: $color-white;
                display: flex;
                justify-content: center;
                justify-items: center;
                font-weight: 800;
                -webkit-text-stroke: 0.1rem $color-secondary;
                font-size: 5rem;
                z-index: 10;
                box-shadow: 0 0 0 0.1rem rgba($color-black, 0.2) ; 
        
            }
            &__name{
                height: 3rem;
                font-size: 2rem;
                color: $color-white;
                display: flex;
                justify-content: center;
                justify-items: center;
                box-shadow: none;
                background: $color-secondary;
            }
            &__seconds{
                background: $color-green;
            }
        }
    }

}