.nav-bg{
    position: relative;
    width: 100%;
    height: 100vh;
    &--text{
      text-transform: uppercase;
      z-index: 2000;
      box-sizing: content-box;
      color: $color-secondary;
      position: absolute;
      letter-spacing: 0.5rem;
      top:50%;
      left:-5%;
      transform: rotate(-90deg);
      cursor: pointer;
      transition: 2s;
      &:hover {
        transform: rotate(270deg);
      }
    }
    &--heading {
      position: relative;
      height: 6rem;
      background:$color-black;
      &__slogan {
        position: absolute;
        color:$color-white;
        left:100rem;
        top:35rem;
        font-size: 5rem;
        z-index: 1;
      }
      &__slogan1{
        color:transparent;
        -webkit-text-stroke:0.1rem $color-secondary;
        }
      &__slogan2{
        color: $color-secondary;
        animation : wave 2s ease-in-out infinite;
        }
      &__logorun{
        position: absolute;
        color:$color-white;
        left:100rem;
        top:25rem;
        font-size: 8rem;
        z-index: 1;
        box-sizing: border-box;
      }
      &__logorun1:nth-child(1){
        color:transparent;
        -webkit-text-stroke:0.1rem $color-secondary;
        }
      &__logorun1:nth-child(2){
        animation : chuyendongrungvaxoay 8s linear infinite;
        color: $color-secondary;
        opacity: 0.7 ;
        text-shadow: 0 0 2rem $color-secondary-dark,0 0 4rem $color-secondary-dark,0 0 6rem $color-secondary-dark;
      }
      &__logorun2:nth-child(3){
        left : 105rem;
        color:transparent; 
        -webkit-text-stroke:0.1rem $color-secondary;
        }
      &__logorun2:nth-child(4){
        animation : chuyendongrungvaxoay 8s linear infinite;
        color: $color-secondary;
        left : 105rem;
        opacity: 0.6;
        text-shadow: 0 0 2rem $color-secondary-dark,0 0 4rem $color-secondary-dark,0 0 6rem $color-secondary-dark;
      }
      
      &__logorun3:nth-child(5){
        left : 110rem;
        color:transparent; 
        -webkit-text-stroke:0.1rem $color-secondary;
        }
      &__logorun3:nth-child(6){
        animation : chuyendongrungvaxoay 8s linear infinite;
        color: $color-secondary;
        left : 110rem;
        opacity: 0.5;
        text-shadow: 0 0 2rem $color-secondary-dark,0 0 4rem $color-secondary-dark,0 0 6rem $color-secondary-dark;

      }
      &__logorun4:nth-child(7){
        left : 115rem;
        color:transparent; 
        -webkit-text-stroke:0.1rem $color-secondary;
        }
      &__logorun4:nth-child(8){
        animation : chuyendongrungvaxoay 8s linear infinite;
        color: $color-secondary;
        left : 115rem;
        opacity: 0.4;
        text-shadow: 0 0 2rem $color-secondary-dark,0 0 4rem $color-secondary-dark,0 0 6rem $color-secondary-dark;

      }
      &__logorun5:nth-child(9){
        left : 125rem;
        color:transparent; 
        -webkit-text-stroke:0.1rem $color-secondary;
        }
      &__logorun5:nth-child(10){
        animation : chuyendongrungvaxoay 8s linear infinite;
        color: $color-secondary;
        left : 125rem;
        opacity: 0.3;
        text-shadow: 0 0 2rem $color-secondary-dark,0 0 4rem $color-secondary-dark,0 0 6rem $color-secondary-dark;

      }
      &__logorun6:nth-child(11){
        left : 130rem;
        color:transparent; 
        -webkit-text-stroke:0.1rem $color-secondary;
        }
      &__logorun6:nth-child(12){
        animation : chuyendongrungvaxoay 8s linear infinite;
        color: $color-secondary;
        left : 130rem;
        opacity: 0.2;
        text-shadow: 0 0 2rem $color-secondary-dark,0 0 4rem $color-secondary-dark,0 0 6rem $color-secondary-dark;

      }
      &__logorun7:nth-child(13){
        left : 133rem;
        color:transparent; 
        -webkit-text-stroke:0.1rem $color-secondary;
        }
      &__logorun7:nth-child(14){
        animation : chuyendongrungvaxoay 8s linear infinite;
        color: $color-secondary;
        left : 133rem;
        opacity: 0.1;
        text-shadow: 0 0 2rem $color-secondary-dark,0 0 4rem $color-secondary-dark,0 0 6rem $color-secondary-dark;

      }
      
    }
    &--pic{
        position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: inherit;
                filter: blur(3px);
    }
    &--box{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width: 10rem;
        height: 10rem;
        transform-style: preserve-3d;
       
        //animation: zoom 2s linear infinite;
        &__pic {
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transform: rotateX(-25deg) rotateY(25deg) translate3d(-7.5rem,-5rem,15rem);
            animation: loop 20s linear infinite;
            &:hover{animation-play-state: paused;}
            &___tech{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: blur(0);
                overflow: hidden;
                transition: all .5s;
                
            }

        }
        &__picgroup{
            position: absolute;
            top: 0%;
            left: 0%;
            display: block;
            width: 100%;
            height: 100%;
            border: 2px solid $color-black;
            background: $color-white;
            
        }
    /* -----------opacity imgae------------ */
            /* --------IMG I-------- */
            .nav-bg--box__picgroup:hover .opa-img1:nth-child(5) {
              transform:translateZ(40rem) rotateX(180deg);
              opacity: 1; }
            .nav-bg--box__picgroup:hover .opa-img1:nth-child(4) {
              transform: translateY(-10rem) rotateZ(360deg);
              opacity: 0.8; border-radius: 50%;}
            .nav-bg--box__picgroup:hover .opa-img1:nth-child(3) {
                transform: translateX(-10rem) rotateZ(360deg);
                opacity: 0.7; border-radius: 50%;}
            .nav-bg--box__picgroup:hover .opa-img1:nth-child(2) {
                transform: translateX(10rem)rotateZ(360deg);
                opacity: 0.6; border-radius: 50%;}
            .nav-bg--box__picgroup:hover .opa-img1:nth-child(1) {
              transform: translateY(10rem) rotateZ(360deg);
                opacity: 0.5; border-radius: 50%;} 
            /* --------IMG II-------- */
            .nav-bg--box__picgroup:hover .opa-img2:nth-child(5) {
              transform:translateZ(40rem) rotateX(180deg);
              opacity: 1; }
            .nav-bg--box__picgroup:hover .opa-img2:nth-child(4) {
              transform: translateY(-10rem) rotateZ(360deg);
              opacity: 0.8; border-radius: 50%;}
            .nav-bg--box__picgroup:hover .opa-img2:nth-child(3) {
                transform: translateX(-10rem) rotateZ(360deg);
                opacity: 0.7; border-radius: 50%;}
            .nav-bg--box__picgroup:hover .opa-img2:nth-child(2) {
                transform: translateX(10rem)rotateZ(360deg);
                opacity: 0.6; border-radius: 50%;}
            .nav-bg--box__picgroup:hover .opa-img2:nth-child(1) {
              transform: translateY(10rem) rotateZ(360deg);
                opacity: 0.5; border-radius: 50%;} 
             
            /* --------IMG III-------- */
            .nav-bg--box__picgroup:hover .opa-img3:nth-child(5) {
              transform:translateZ(40rem) rotateX(180deg);
              opacity: 1; }
            .nav-bg--box__picgroup:hover .opa-img3:nth-child(4) {
              transform: translateY(-10rem) rotateZ(360deg);
              opacity: 0.8; border-radius: 50%;}
            .nav-bg--box__picgroup:hover .opa-img3:nth-child(3) {
                transform: translateX(-10rem) rotateZ(360deg);
                opacity: 0.7; border-radius: 50%;}
            .nav-bg--box__picgroup:hover .opa-img3:nth-child(2) {
                transform: translateX(10rem)rotateZ(360deg);
                opacity: 0.6; border-radius: 50%;}
            .nav-bg--box__picgroup:hover .opa-img3:nth-child(1) {
              transform: translateY(10rem) rotateZ(360deg);
                opacity: 0.5; border-radius: 50%;}  
           /* --------IMG IV-------- */
           .nav-bg--box__picgroup:hover .opa-img4:nth-child(5) {
            transform:translateZ(40rem) rotateX(180deg);
            opacity: 1; }
          .nav-bg--box__picgroup:hover .opa-img4:nth-child(4) {
            transform: translateY(-10rem) rotateZ(360deg);
            opacity: 0.8; border-radius: 50%;}
          .nav-bg--box__picgroup:hover .opa-img4:nth-child(3) {
              transform: translateX(-10rem) rotateZ(360deg);
              opacity: 0.7; border-radius: 50%;}
          .nav-bg--box__picgroup:hover .opa-img4:nth-child(2) {
              transform: translateX(10rem)rotateZ(360deg);
              opacity: 0.6; border-radius: 50%;}
          .nav-bg--box__picgroup:hover .opa-img4:nth-child(1) {
            transform: translateY(10rem) rotateZ(360deg);
              opacity: 0.5; border-radius: 50%;}    
            
          /*---------IMG V----------*/   
          .nav-bg--box__picgroup:hover .opa-img5:nth-child(5) {
            transform:translateZ(40rem) rotateX(180deg);
            opacity: 1; }
          .nav-bg--box__picgroup:hover .opa-img5:nth-child(4) {
            transform: translateY(-10rem) rotateZ(360deg);
            opacity: 0.8; border-radius: 50%;}
          .nav-bg--box__picgroup:hover .opa-img5:nth-child(3) {
              transform: translateX(-10rem) rotateZ(360deg);
              opacity: 0.7; border-radius: 50%;}
          .nav-bg--box__picgroup:hover .opa-img5:nth-child(2) {
              transform: translateX(10rem)rotateZ(360deg);
              opacity: 0.6; border-radius: 50%;}
          .nav-bg--box__picgroup:hover .opa-img5:nth-child(1) {
            transform: translateY(10rem) rotateZ(360deg);
              opacity: 0.5; border-radius: 50%;}
          /*---------IMG VI----------*/   
          .nav-bg--box__picgroup:hover .opa-img6:nth-child(5) {
            transform:translateZ(40rem) rotateX(180deg);
            opacity: 1; }
          .nav-bg--box__picgroup:hover .opa-img6:nth-child(4) {
            transform: translateY(-10rem) rotateZ(360deg);
            opacity: 0.8; border-radius: 50%;}
          .nav-bg--box__picgroup:hover .opa-img6:nth-child(3) {
              transform: translateX(-10rem) rotateZ(360deg);
              opacity: 0.7; border-radius: 50%;}
          .nav-bg--box__picgroup:hover .opa-img6:nth-child(2) {
              transform: translateX(10rem)rotateZ(360deg);
              opacity: 0.6; border-radius: 50%;}
          .nav-bg--box__picgroup:hover .opa-img6:nth-child(1) {
            transform: translateY(10rem) rotateZ(360deg);
              opacity: 0.5; border-radius: 50%;}    

                  /* -----------Khoi lap phuong------------- */
        &__picgroup:nth-child(1){
            transform: rotateX(0deg) translateZ(5rem);
        }
        &__picgroup:nth-child(2){
            transform: rotateY(90deg) translateZ(-5rem);
        }
        &__picgroup:nth-child(2) &__pic___tech{
            transform: rotateX(180deg) ;
        }
        &__picgroup:nth-child(3){
            transform: rotateX(90deg) translateZ(5rem);
        }
        &__picgroup:nth-child(3) &__pic___tech{
          transform: rotateX(180deg) ;
      }
        &__picgroup:nth-child(4){
          transform: rotateX(90deg) translateZ(-5rem);
        }
        &__picgroup:nth-child(5){
          transform: rotateY(0deg) translateZ(-5rem);
        }
        &__picgroup:nth-child(6){
          transform: rotateY(90deg) translateZ(5rem);   
        }
        &__picgroup:nth-child(6) &__pic___tech{
          transform: rotateX(180deg) ;
      }

    }   
    
}
.headland{
  display:flex;
  justify-content:center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}